{% comment %} title {% endcomment %}
<title>MillerTime - Archive</title>
<p align="center" style="font-size:30px"><b>Miller Time</b></p>


{% comment %} navbar {% endcomment %}
<p align="center">
<table border="0">
    <tr>
        <td><a href="/">home </a></td> 
        <td><a href="/blog/">blog </a></td>
        <td><a href="/links/">links </a></td>
        <td><a href="/aboutme/">aboutme</a></td>
    </tr>
</table>


{% comment %} body {% endcomment %}
{% if latest_blogs_list %}
    <p align="center">
    <table width="500" border="0">
    	<tr><td align="center"><b>Blog Archive</b></td></tr>
    {% for blog in latest_blogs_list %}
        <tr><td align="left">
        <b><big>{{ blog.title }}</big><br />
        Date Published: {{ blog.pub_date }}<br /></b>
        {{ blog.body|linebreaksbr }}<br /><br /></td></tr>
    {% endfor %}
    <tr><td><a href="/admin/">admin</a> | <b>archive</b></td></tr>
    </table></p>
{% else %}
    <p align="center"> No blogs created yet.</p>
{% endif %}
