{% extends "base.html" %}
{% load markup %}

{% block title %}MillerTime - Archive{% endblock %}

{% block navbar %}
    <a href="/">home </a> 
    <a href="/blog/">blog </a>
    <a href="/links/">links </a>
    <a href="/aboutme/">aboutme</a>
    <br />
    <b>archive</b>
    <a style="color:white" href="/admin/">admin</a>
{% endblock %}

{% block content %}
 <div class="text">
 <p style="text-align:center"><b>Blog Archive</b></p>
 <b><big>2010</big></b><br />
 <table>
 <tr><td>
 </td><td>
 <b><a href="/blog/archive/jun2010/">June</a></b>
 </td><td>
 <b><a href="/blog/archive/jul2010/">July</a></b>
 </td><td>
 <b><a href="/blog/archive/aug2010/">August</a></b>
 </td></tr>
 <!-- 2nd row-->
 <tr><td>
 <b><a href="/blog/archive/sep2010/">September</a></b>
 </td><td>
 <b><a href="/blog/archive/oct2010/">October</a></b>
 </td><td>
 <b><a href="/blog/archive/nov2010/">November</a></b>
 </td><td>
 <b><a href="/blog/archive/dec2010/">December</a></b>
 </td></tr>
 </table>
 <b><big>2011</big></b><br />
 <table>
 <tr><td>
 <b><a href="/blog/archive/jan2011/">January</a></b>
 </td><td>
 <!-- not yet
 <b><a href="/blog/archive/feb2011/">February</a></b>
 -->
 <b>February</b>
 </td><td>
 <!-- not yet
 <b><a href="/blog/archive/mar2011/">March</a></b>
 -->
 <b>March</b>
 </td><td>
 <!-- not yet
 <b><a href="/blog/archive/apr2011/">April</a></b>
 -->
 <b>April</b>
 </td></tr>
 <!-- 2nd row -->
 <tr><td>
 <!-- not yet
 <b><a href="/blog/archive/may2011/">May</a></b>
 -->
 <b>May</b>
 </td><td>
 <!-- not yet
 <b><a href="/blog/archive/jun2011/">June</a></b>
 -->
 <b>June</b>
 </td><td>
 <!-- not yet
 <b><a href="/blog/archive/jul2011/">July</a></b>
 -->
 <b>July</b>
 </td><td>
 <!-- not yet
 <b><a href="/blog/archive/aug2011/">August</a></b>
 -->
 <b>August</b>
 </td></tr>
 <!-- 3rd row-->
 <tr><td>
 <!-- not yet
 <b><a href="/blog/archive/sep2011/">September</a></b>
 -->
 <b>September</b>
 </td><td>
 <!-- not yet
 <b><a href="/blog/archive/oct2011/">October</a></b>
 -->
 <b>October</b>
 </td><td>
 <!-- not yet
 <b><a href="/blog/archive/nov2011/">November</a></b>
 -->
 <b>November</b>
 </td><td>
 <!-- not yet
 <b><a href="/blog/archive/dec2011/">December</a></b>
 -->
 <b>December</b>
 </td></tr>
 </table>
 </div><!--text-->
{% endblock %}
