{% extends "posts/month.html" %}
{% load markup %}

{% block month %}
<b><big>2010 - August</big></b><br />
<a href="/blog/archive/jul2010/">prev</a> <a href="/blog/archive/">calendar</a> <a href="/blog/archive/sep2010/">next</a><br />
{% endblock %}

{% block posts %}
{% if aug2010 %}
 {% for blog in aug2010 %}
  <h3>{{ blog.title }}</h3><br />
  Date Published: {{ blog.pub_date }}<br />
  {{ blog.body|markdown:"safe" }}<br />
  {% endfor %}
 {% else %}
 <p>No posts this month!</p>
 {% endif %}
{% endblock %}
