{% extends "base.html" %}
{% load markup %}

{% block headstuff %}
<style type="text/css">
h3 {
    text-align:center;
    background-color:gray;
}
</style>
{% endblock %}

{% block content %}
<p style="text-align:center"><b>Blog Archive</b></p>
{% block month %}
<b><big>2010 - Month</big></b><br />
<a href="/blog/archive/">Calendar</a> <a href="">NextMonth</a><br />
{% endblock %}
<hr>
{% block posts %}
{% if month %}
{% for blog in month %}
<h3>{{ blog.title }}</h3><br />
  Date Published: {{ blog.pub_date }}<br />
{{ blog.body|markdown:"safe" }}<br />
{% endfor %}
{% else %}
<p>No posts this month!</p>
{% endif %}
{% endblock %}
{% endblock %}
