{% extends "posts/month.html" %}
{% load markup %}

{% block month %}
<b><big>2010 - September</big></b><br />
<a href="/blog/archive/aug2010/">prev</a> <a href="/blog/archive/">calendar</a> <a href="/blog/archive/oct2010/">next</a><br />
{% endblock %}

{% block posts %}
{% if sep2010 %}
 {% for blog in sep2010 %}
  <b><big>{{ blog.title }}</big><br />
  Date Published: {{ blog.pub_date }}<br /></b>
  {{ blog.body|markdown:"safe" }}<br />
  {% endfor %}
 {% else %}
 <p>No posts this month!</p>
 {% endif %}
</div>
{% endblock %}
