body, a, p, h1 {
font-family:"Trebuchet MS", Helvetica, sans-serif;
}

body { 
color:black; 
background-color:white; 
}

a { 
text-decoration:none; 
color:blue; 
}

#main {
text-align:center;
width:800px;
top:0px;
margin:0px;
}

#left {
position:fixed;
float:left;
left:100px;
top:0px;
}

#heading {
top:0px;
margin:0px;
font-size:30px;
}

#nav {
border:0;
}

#text {
text-align:left;
width:600px;
position:absolute;
left:350px;
top:0px;
}

#footer {
text-align:center;
position:fixed;
bottom:0px;
}

#pnf {
position:absolute;
left:350px;
top:0px;
}
