body, a, p, h1 {
font-family:"Trebuchet MS", Helvetica, sans-serif;
}

body { 
color:black; 
background-color:white; 
}

a { 
text-decoration:none; 
color:blue; 
}

td {
border-width:1px;
padding:1px;
border-color:gray;
background-color:white;
height:120px;
width:120px;
text-align:center;
}

table {
border-width:0px;
border-spacing:2px;
background-color:lightblue;
}

pre {
color:green;
background-color:black;
border-style:groove;
border-color:green;
white-space: pre-wrap;       /* css-3 */
white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.container {
text-align:center;
width:800px;
top:0px;
margin:0px;
}

.sidebar {
position:fixed;
float:left;
left:100px;
top:0px;
}

.heading {
top:0px;
margin:0px;
font-size:30px;
}

.content {
text-align:left;
width:600px;
position:absolute;
left:350px;
top:0px;
}

.footer {
font-size:9;
width:100%;
height:20px;
text-align:center;
position:fixed;
bottom:0px;
margin:0px;
background-color:white; 
color:gray;
}

.pnf {
position:absolute;
left:350px;
top:0px;
}
