html, body {
height:100%;
}

body, a, p, h1, h2 {
font-family:"Trebuchet MS", Helvetica, sans-serif;
}

* {margin:0;padding:0;}

p {padding:10px}

body { 
color:black; 
background-color:white; 
}

a { 
text-decoration:none; 
color:blue; 
}

/* td and table are for schedule.html */

td {
border-width:1px;
padding:1px;
border-color:gray;
background-color:white;
height:120px;
width:120px;
text-align:center;
}

table {
border-width:0px;
border-spacing:2px;
background-color:lightblue;
}

pre {
color:green;
background-color:black;
border-style:groove;
border-color:green;
white-space: pre-wrap;       /* css-3 */
white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#container {
width:860px;
min-height:100%;
text-align:center;
}

#sidebar {
padding-top:50px;
padding-left:10px;
width:200px;
float:left;
}

#heading {
width:100%;
padding-top:15px;
padding-bottom:15px;
text-align:center;
}

#heading a {
color:gray;
}

#content {
overflow:auto;
padding-top:5px;
padding-left:50px;
padding-bottom:10px;
width:600px;
float:left;
text-align:left;
}

#footer {
position:relative;
margin-top:-10px;
height:10px;
clear:both;
padding-left:50px;
font-size:9px;
background-color:white;
color:gray;
}

#blogheading {
font-size:10px;
text-align:center;
padding-bottom:10px;
}