<html>
<head>
<title>MillerTime - Links</title>
<link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/media/page.css" />
</head>

<body>
 <div id="main">
  <div id="left">
  <p id="heading"><b>Miller Time</b></p>

  <img src="/media/scott_pilgrim.jpg" />

   <div id="nav">
    <a href="/">home </a> 
    <a href="/blog/">blog </a>
    <b>links </b>
    <a href="/aboutme/">aboutme</a>
   </div><!--nav-->
  </div><!--left-->

  {% if links_list %}
  <div id="text">
   {% for link in links_list %}
   <b><big>{{ link.title }}</big></b><br />
   {{ link.location|urlize }}<br />
   {% endfor %}
  </div><!--links-->
  {% else %}
  No links added yet.
  {% endif %}
</div><!--main-->
<p id="footer">
<a href="/ie/">View Internet Explorer version of the site</a></p>
</body>
</html>
