<html>
<head>
<title>MillerTime - Links</title>
<link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
<style type="text/css">
    body { color:black; background-color:white; }
    a { text-decoration:none; color:blue; }
</style>
</head>

<body>
 <table id="main" align="center" width="800">
  <tr><td valign="top">
  <table id="left" style="position:fixed; float:left; left:100px; top:0px">
   <tr><td align="center" style="font-size:30px"><b>Miller Time</b>
   </td></tr>

   <tr><td><img src="/media/scott_pilgrim.jpg" />
   </td></tr>

   <tr><td align="center">
   <table id="nav" border="0">
    <tr>
    <td><a href="/">home </a></td> 
    <td><a href="/blog/">blog </a></td>
    <td><b>links </b></td>
    <td><a href="/aboutme/">aboutme</a></td>
    </tr>
   </table><!--nav-->
   </td></tr>
  </table><!--left-->
  </td>

  <td align="left">
  {% if links_list %}
  <table id="links" width="600" style="position:absolute; left:350px; top:0px">
   {% for link in links_list %}
   <tr><td align="left">
   <b><big>{{ link.title }}</big></b><br />
   {{ link.location|urlize }}<br />
   {% endfor %}
  </table><!--links-->
  {% else %}
  No links added yet.
  {% endif %}
  </td></tr>
</table><!--main-->
<p align="center" style="position:absolute; bottom:0px">
<a href="/ie/">View Internet Explorer version of the site</a></p>
</body>
</html>
