<html>
<head>
<title>MillerTime - Links</title>
<link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/media/page.css" />
</head>

<body>
 <table id="main">
  <tr><td valign="top">
  <table id="left">
   <tr><td align="center" style="font-size:30px"><b>Miller Time</b>
   </td></tr>

   <tr><td><img src="/media/scott_pilgrim.jpg" />
   </td></tr>

   <tr><td align="center">
   <table id="nav">
    <tr>
    <td><a href="/">home </a></td> 
    <td><a href="/blog/">blog </a></td>
    <td><b>links </b></td>
    <td><a href="/aboutme/">aboutme</a></td>
    </tr>
   </table><!--nav-->
   </td></tr>
  </table><!--left-->
  </td>

  <td align="left">
  {% if links_list %}
  <table id="text">
   {% for link in links_list %}
   <tr><td align="left">
   <b><big>{{ link.title }}</big></b><br />
   {{ link.location|urlize }}<br />
   {% endfor %}
  </table><!--links-->
  {% else %}
  No links added yet.
  {% endif %}
  </td></tr>
</table><!--main-->
<p id="footer">
<a href="/ie/">View Internet Explorer version of the site</a></p>
</body>
</html>
