{% extends "base.html" %}

{% block title %}MillerTime - Wishlist{% endblock %}

{% block content %}
<div class="text">
<p><b>Wishlist 2011</b></p>
<br />
<a href="http://www.onipress.com/series/scottpilgrim">Scott Pilgrim Comics</a><br />
(Note: I have the first one)<br />
$12 each<br />
<img src="/media/wishlist/pilgrim-comic.jpg" /><br />
<br />
<a href="http://www.benchmade.com/products/14440">Benchmade Pocket Knife</a><br />
For cuttin' stuff. $40<br />
<img src="/media/wishlist/benchmade.jpg" /><br />
<br />
<a href="http://www.gamestop.com/Catalog/ProductDetails.aspx?product_id=41931">Final Fantasy XII</a><br />
Never got that one, it's on PS2. $12 [Used]<br />
<img src="/media/wishlist/ff12.jpg" /><br />
<br />
<a href="http://www.gamestop.com/Catalog/ProductDetails.aspx?product_id=75085">Final Fantasy XIII</a><br />
Latest installment of great series, for Xbox360. $33 [Used]<br />
<img src="/media/wishlist/ff13.jpg" /><br />
<br />
<a href="http://www.daskeyboard.com/model-s-professional/">Das Keyboard</a><br />
An excellent keyboard for a programmer. $129<br />
<img src="/media/wishlist/das_keyboard.jpg" /><br />
<br />
<a href="http://www.astrogaming.com/products/detail/4/A40-Headset/">Astro A40 Gaming Headphones</a><br />
Over-the-top awesome gaming headset. $200<br />
<img src="/media/wishlist/a40-astro-headset.jpg" /><br />
<br />
{% endblock %}
