{% comment %} title {% endcomment %}
<title>MillerTime - About Me</title>
<p align="center" style="font-size:30px"><b>Miller Time</b></p>


{% comment %} navbar {% endcomment %}
<p align="center">
<table border="0">
    <tr>
        <td><a href="/">home </a></td> 
        <td><a href="/blog/">blog </a></td>
        <td><a href="/links/">links </a></td>
        <td><b>aboutme</b></td>
    </tr>
</table>


{% comment %} body {% endcomment %}
<p align="center">
Hi, my name is Russell. I'm a Computer Science student at Portland State<br />
University. This is a relatively new website I've created, and I'm not a web<br />
developer or designer. This is mostly for me to have a place to write a personal<br />
blog to write about my experiences with programming, school, work, and whatever<br />
else I feel like writing about. I was just accepted to MECOP and will probably<br />
have a lot to talk about when that starts this Spring. <br />
I hope to be posting my resume somewhere on this site to refer employers to, but<br />
for now I'll just say that I've been working remedial jobs for ten years now and<br />
have been in and out of school. This is the most focus I have ever had and I'm<br />
extremely excited about Computer Science and programming. I've done some work<br />
with C, lots of "learning" with C++, some Java, some Haskell, a glimpse at Ruby, <br />
and lately lots and lots of Python - my favorite so far.<br />
</p>
