<html>
<head>
<title>MillerTime - About Me</title>
<link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/media/page.css" />
</head>

<body>
 <div id="main">
  <div id="left">       <!-- left side -->
   <p id="heading"><b>Miller Time</b></p>

   <img src="/media/scott_pilgrim.jpg" />

   <div id="nav">
    <a href="/">home </a> 
    <a href="/blog/">blog </a>
    <a href="/links/">links </a>
    <b>aboutme</b>
   </div><!--nav-->
   
  </div><!--left-->

  <div id="text">       <!-- right side -->
   <br /><br />
   Hi, my name is Russell. I'm a Computer Science student at
   Portland State University. This is a relatively new website
   I've created, and I'm not a web developer or designer. This
   is mostly for me to have a place to write a personal blog
   to write about my experiences with programming, school,
   work, and whatever else I feel like writing about. I was
   accepted to MECOP and will be starting this Spring. I've put a
   link to their site on my links page. I'm extremely excited
   about Computer Science and programming. I've done some work
   with C, lots with C++, some Java, some Haskell, and some Python.
   This website runs on Django which is a Python web framework.
   I like to post my code online, feel free to check it out on my
   Github, which is also on the links page.
   
  </div><!--text-->
</div><!--main-->
<p id="footer">
<a href="/ie/">View Internet Explorer version of the site</a></p>
</body>
</html>
