<html>
<head>
    {% comment %} title {% endcomment %}
    <title>MillerTime - About Me</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
    <style type="text/css">
        body {
            color:white;
            background-image:url('/media/ramona.jpg');
            background-repeat:no-repeat;
            background-color:blue;
            background-attachment:fixed;
            background-position:left top;
        }
        a {
            text-decoration:none;
            color:red;
        }
    </style>
</head>

<body>
    <p align="right" style="font-size:30px"><b>Miller Time</b></p>

    {% comment %} navbar {% endcomment %}
    <p align="right">
    <table border="0">
        <tr>
            <td><a href="/">home </a></td> 
            <td><a href="/blog/">blog </a></td>
            <td><a href="/links/">links </a></td>
            <td><b>aboutme</b></td>
        </tr>
    </table>

    {% comment %} body {% endcomment %}
    <p align="right">
        Hi, my name is Russell. I'm a Computer Science student at<br />
        Portland State University. This is a relatively new website<br />
        I've created, and I'm not a web developer or designer. This<br />
        is mostly for me to have a place to write a personal blog<br />
        to write about my experiences with programming, school,<br />
        work, and whatever else I feel like writing about. I was<br />
        just accepted to MECOP and will probably have a lot to talk<br />
        about when that starts this Spring. I hope to be posting my<br />
        resume somewhere on this site to refer employers to, but<br />
        for now I'll just say that I've been working remedial jobs<br />
        for ten years now and have been in and out of school. This<br />
        is the most focus I have ever had and I'm extremely excited<br />
        about Computer Science and programming. I've done some work<br />
        with C, lots of "learning" with C++, some Java, some Haskell,<br />
        a glimpse at Ruby, and lately lots and lots of Python - my<br />
        favorite so far.<br />
    </p>
</body>
</html>
