{% extends "base.html" %}

{% block title %}MillerTime - Connect Three{% endblock %}

{% block navbar %}
   <a href="/">home </a> 
   <a href="/blog/">blog </a>
   <a href="/links/">links </a>
   <a href="/aboutme/">aboutme</a>
{% endblock %}

{% block content %}
 <div class="text">
  <h3>Connect Three</h3>
  Click <a href="/media/ConnectThree">here</a> to download the Connect Three
  game I've just written for class. This executable should work on 32-bit and
  64-bit Linux. Alternatively, you can download the
  <a href="https://github.com/millertime-homework/cs441">source</a> from my
  Github page.
 </div>
{% endblock %}
