<html>{% load markup %}
<head>
<title>MillerTime</title>
<link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
</head>

<body>
<h1>Hello Internet Explorer Noobs</h1>
<a href="/">Get me out of here!</a>(Only for non-IE noobs)<br />
<br />
<p><b>
This is the plain text version of my site. I have avoided any formatting of<br />
any kind, in order to keep the site compatible with Internet Exploder. If<br />
you use any other browser, feel free to return to the normal site with the<br/>
link above. 
</b></p>
{% if latest_blogs_list %}
{% for blog in latest_blogs_list %}
<p>
<b>{{ blog.title }}<br />
Date Published: {{ blog.pub_date }}</b><br />
{{ blog.body|markdown:"safe" }}<br />
{% endfor %}
{% else %}
<p>No blogs yet.</p>
{% endif %}
</body>
</html>
