{% extends "base.html" %}

{% block headstuff %}

<!-- google analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22698132-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- +1 -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

{% endblock %}

{% block content %}
 <div class="text">
  
  <h3>Welcome. Head on over to the <a href="/blog/">blog</a>. Or...</h3>

  I've got a neat <a href="/pics/">slideshow</a> of random images.
  <br /><br />
  You can track me down by checking out my <a href="/schedule/">Summer Schedule</a>
  <br /><br />
  Sometimes you can find me on Xbox Live<br />
  <iframe src="http://gamercard.xbox.com/Millertime0289.card" class="gamercard" width="204" height="141" scrolling="no" frameBorder="0"></iframe>
  <br /><br />
  Lately I've been biking across Beaverton to get home from work. Thanks to Google's 'My Tracks' app on the Android market,
  you can check out the route I take <a href="https://spreadsheets.google.com/spreadsheet/ccc?key=0AmjB1vf23-5UdFZRS3BPRjRUN3VDaUJrdC05TEtHVVE&hl=en_US&authkey=CMPE9ukB#gid=0">here</a>!
  <br /><br />
  My bike was sold to me with a Cateye Micro on it, which is a speedometer/odometer 
  device that is actually sort of complicated to use. Since I couldn't find a PDF version of the manual
  for the little sucker, I downloaded a bunch of images of it and <a href="/media/cateye.pdf">made my own PDF</a>!
  <br />
  Support my site with a <g:plusone></g:plusone>
  <br /><br />
 
 </div>

{% endblock %}

