<html>
<head>
<title>MillerTime</title>
<link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
<style type="text/css">
    body { color:black; background-color:white; }
    a { text-decoration:none; color:blue; }
</style>
</head>

<body>
 <table id="main" align="center" width="800">
  <tr><td valign="top">
  <table id="left" style="position:fixed; float:left; left:100px; top:0px">
   <tr><td align="center" style="font-size:30px"><b>Miller Time</b>
   </td></tr>

   <tr><td><img src="/media/scott_pilgrim.jpg" />
   </td></tr>

   <tr><td align="center">
   <table id="nav" border="0">
    <tr>
    <td><b>home </b></td> 
    <td><a href="/blog/">blog </a></td>
    <td><a href="/links/">links </a></td>
    <td><a href="/aboutme/">aboutme</a></td>
    </tr>
   </table><!--nav-->
   </td></tr>
  </table><!--left-->
  </td>

  <td valign="center">
  <table id="text" width="600" style="position:absolute; left:350px; top:0px">
   <tr><td align="center" valign="center">
   <br /><br />
   Hey here's my humble website. Mainly using as a personal blog. Still working
   on a lot of the design aspect. Currently running Cherokee Web Server and
   using Django.
   </td></tr>
   <tr><td align="right">
   <b><a href="/schedule/">Fall Schedule</a></b>
   </td></tr>
  </table><!--text-->
  </td></tr>
</table><!--main-->
<p align="center" style="position:absolute; bottom:0px">
<a href="/ie/">View Internet Explorer version of the site</a></p>
</body>
</html>
