{% extends "base.html" %}

{% block headstuff %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22698132-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endblock %}

{% block content %}
 <div class="text">  
  I've got a neat <a href="/pics/">slideshow</a> of random images.<br />
  You can track me down by checking out my <a href="/schedule/">Spring Schedule</a><br />
  But most evenings just find me on Xbox Live<br />
  <iframe src="http://gamercard.xbox.com/Millertime0289.card" class="gamercard" width="204" height="141" scrolling="no" frameBorder="0"></iframe>
  <br /><br />
  <strong>I'm writing myself a reminder here so I don't forget. Next project -- Extreme Programming Demo (What It Is To Burn?)</strong>
 </div>

{% endblock %}

