{% extends "base.html" %}

{% block title %}MillerTime - Random{% endblock %}

{% block content %}
<h3>Totally Random</h3>

<p style="font-size:13px">
  It turns out that having a website means you think of completely random things
  that HAVE to be on the internet. I have been cluttering my site with these 
  things, thinking I was making it more interesting. Well, I couldn't bring 
  myself to delete them when "Spring Cleaning" came aroung, so they're gathered 
  here.
</p>

<br />
<iframe src="http://gamercard.xbox.com/Millertime0289.card" class="gamercard" 
        width="204" height="141" scrolling="no" frameBorder="0"></iframe><br />

<a href="/schedule/">Schedule</a> - Summer and Fall<br />

<a href="/downloads/">Apps</a> - Some of the programs I've written<br />

<a href="/media/cateye.pdf">PDF</a> for the Cateye Micro I have attached to my bike<br />

Using <a href="http://mytracks.appspot.com/">Google My Tracks</a> I've been gathering
ride data <a href="https://spreadsheets.google.com/spreadsheet/ccc?key=0AmjB1vf23-5UdFZRS3BPRjRUN3VDaUJrdC05TEtHVVE&hl=en_US&authkey=CMPE9ukB#gid=0">here</a><br />

TotallyRandom™ <a href="/pics/">slideshow</a> that uses JQuery<br />

A bunch of <a href="/links/">links</a><br />

More <a href="/aboutme/">about me</a><br />

{% endblock %}
