{% extends "base.html" %}

{% block title %}MillerTime - Schedule{% endblock %}

{% block navbar %}
    <a href="/">home </a></td> 
    <a href="/blog/">blog </a></td>
    <a href="/links/">links </a></td>
    <a href="/aboutme/">aboutme</a></td>
{% endblock %}

{% block content %}
<div class="text">

<b>Spring and Summer Schedule:</b>
<table border="1">
    <tr>
        <th><b>Monday</b></td>
        <th><b>Tuesday</b></td>
        <th><b>Wednesday</b></td>
        <th><b>Thursday</b></td>
        <th><b>Friday</b></td>
    </tr>
    <tr valign="top">
        <!-- Monday -->
        <td>
	    8am-5pm<br />
	    Allion<br />
            (internship)<br />
        </td>

        <!-- Tuesday -->
        <td>
	    8am-5pm<br />
	    Allion<br />
            (internship)<br />
        </td>

        <!-- Wednesday -->
        <td>
	    8am-5pm<br />
	    Allion<br />
            (internship)<br />
        </td>

        <!-- Thursday -->
        <td>
	    8am-5pm<br />
	    Allion<br />
            (internship)<br />
        </td>

        <!-- Friday -->
        <td>
	    8am-5pm<br />
	    Allion<br />
            (internship)<br />
        </td>
    </tr>
</table>
<br />
<!----------------- FALL ------------------->
<b>Fall Schedule:</b>
<table border="1">
    <tr>
        <th><b>Monday</b></td>
        <th><b>Tuesday</b></td>
        <th><b>Wednesday</b></td>
        <th><b>Thursday</b></td>
        <th><b>Friday</b></td>
    </tr>
    <tr valign="top">
        <!-- Monday -->
        <td>
	      2-3:50pm<br />
          CS305 - Ethics<br />
	      <br />
	      <br />
          4:40-6:30pm<br />
          CS321 - Compilers<br />
        </td>

        <!-- Tuesday -->
        <td>
          2-3:50pm<br />
	      STAT451 - Statistics<br />
	      <br />
          4:40-6:30pm<br />
          CS410 - Combinatorics<br />
        </td>

        <!-- Wednesday -->
        <td>
	      <br />
	      <br />
	      <br />
          <br />
          4:40-6:30pm<br />
          CS321 - Compilers<br />
        </td>

        <!-- Thursday -->
        <td>
          2-3:50pm<br />
	      STAT451 - Statistics<br />
	      <br />
          4:40-6:30pm<br />
          CS410 - Combinatorics<br />
        </td>

        <!-- Friday -->
        <td>
        </td>
    </tr>
</table>
<br />
<br />
</div>
{% endblock %}
