{% extends "base.html" %}

{% block title %}MillerTime - Schedule{% endblock %}

{% block content %}
<!----------------- FALL ------------------->
<b>Fall Schedule:</b>
<table border="1">
    <tr>
        <th><b>Monday</b></td>
        <th><b>Tuesday</b></td>
        <th><b>Wednesday</b></td>
        <th><b>Thursday</b></td>
        <th><b>Friday</b></td>
    </tr>
    <tr valign="top">
        <!-- Monday -->
        <td>
	      2-3:50pm<br />
          CS305 - <br />
          Ethics<br />
	      <br />
          4:40-6:30pm<br />
          CS321 - Compilers<br />
        </td>

        <!-- Tuesday -->
        <td>
          2-3:50pm<br />
	      STAT451 - Statistics<br />
	      <br />
          4:40-6:30pm<br />
          CS410 - Combinatorics<br />
        </td>

        <!-- Wednesday -->
        <td>
          <br />
          <br />
          <br />
          <br />
          4:40-6:30pm<br />
          CS321 - Compilers<br />
        </td>

        <!-- Thursday -->
        <td>
          2-3:50pm<br />
	      STAT451 - Statistics<br />
	      <br />
          4:40-6:30pm<br />
          CS410 - Combinatorics<br />
        </td>

        <!-- Friday -->
        <td>
        </td>
    </tr>
</table><br />

  <!----------------- WINTER ------------------->
  <b>Winter Schedule:</b>
  <table border="1">
    <tr>
      <th><b>Monday</b></td>
      <th><b>Tuesday</b></td>
<th><b>Wednesday</b></td>
<th><b>Thursday</b></td>
<th><b>Friday</b></td>
</tr>
<tr valign="top">
      <!-- Monday -->
      <td>
	12:45-1:50pm<br />
	MUS399U - <br />
	Music Tech<br />
	<br />
	<br />
	<br />
	<br />
        4:40-6:30pm<br />
        CS322 - Compilers<br />
      </td>
      
      <!-- Tuesday -->
      <td>
	<br />
	<br />
	<br />
        2-3:50pm<br />
	CS457 - Functional Languages<br />
      </td>
      
      <!-- Wednesday -->
      <td>
	12:45-1:50pm<br />
	MUS399U - <br />
	Music Tech<br />
	<br />
	<br />
	<br />
	<br />
        4:40-6:30pm<br />
        CS322 - Compilers<br />
      </td>
      
      <!-- Thursday -->
      <td>
	<br />
	<br />
	<br />
        2-3:50pm<br />
	CS457 - Functional Languages<br />
      </td>
      
      <!-- Friday -->
      <td>
	12:45-1:50pm<br />
	MUS399U - <br />
	Music Tech<br />
      </td>
    </tr>
</table>
<br />
<a href="https://banweb.pdx.edu">PSU Banweb</a>
{% endblock %}
