<html>
<head>
    {% comment %} title {% endcomment %}
    <title>MillerTime - Schedule</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
    <style type="text/css">
        body {
            color:white;
            background-image:url('/media/ramona.jpg');
            background-repeat:no-repeat;
            background-color:blue;
            background-attachment:fixed;
            background-position:left top;
        }
        a {
            text-decoration:none;
            color:red;
        }
    </style>
</head>

<body>
    <p align="center" style="font-size:30px"><b>Miller Time</b></p>

    {% comment %} navbar {% endcomment %}
    <p align="center">
    <table border="0">
        <tr>
            <td><a href="/">home </a></td> 
            <td><a href="/blog/">blog </a></td>
            <td><a href="/links/">links </a></td>
            <td><a href="/aboutme/">aboutme</a></td>
        </tr>
    </table>

    {% comment %} body {% endcomment %}
    <p align="center">
<b>Fall school schedule:</b>
<table border="1">
    <tr>
        <td align="left"><b>Monday</b></td>
        <td align="left"><b>Tuesday</b></td>
        <td align="left"><b>Wednesday</b></td>
        <td align="left"><b>Thursday</b></td>
        <td align="left"><b>Friday</b></td>
    </tr>
    <tr valign="top">
        <!-- Monday -->
        <td align="left">
            <br />
            <br />
            <br />
            <br />
            <br />
            2-3:50pm<br />
            CS333 - Operating Systems<br />
        </td>

        <!-- Tuesday -->
        <td align="left">
            10-11:50am<br />
            MUS360U - History Rock Music<br />
            <br />
            12-2pm<br />
            Volunteer Tutoring for ACM<br />
            <br />
            ... break (hang out in lounge) ...<br />
            <br />
            4:40-6:30pm<br />
            CS311 - Computational Structures<br />
            <br />
            6:40-8:30pm<br />
            CS300 - Software Engineering<br />
        </td>

        <!-- Wednesday -->
        <td align="left">
            <br />
            <br />
            <br />
            <br />
            <br />
            2-3:50pm<br />
            CS333 - Operating Systems<br />
        </td>

        <!-- Thursday -->
        <td align="left">
            10-11:50am<br />
            MUS360U - History Rock Music<br />
            <br />
            <br />
            <br />
            <br />
            ... break (hang out in lounge) ...<br />
            <br />
            4:40-6:30pm<br />
            CS311 - Computational Structures<br />
            <br />
            6:40-8:30pm<br />
            CS300 - Software Engineering<br />
        </td>

        <!-- Friday -->
        <td align="left">
            <br />
            <br />
            <br />
            <br />
            <br />
            2-3:50pm<br />
            EAS407 - MECOP Seminar<br />
            <br />
            4-6pm<br />
            ACM Meeting<br />
            <br />
            6-10pm<br />
            Braindump/theCAT<br />
        </td>
    </tr>
</table>
<br />
<br />
<b>Church Music Schedule: </b>
(captured from StoneCreekOnline.com)<br />
<img src="/media/schedule.png" />
    </p>
</body>
</html>
