<html>
<head>
    {% comment %} title {% endcomment %}
    <title>MillerTime - Christmas List</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
    <style type="text/css">
        body {
            color:black;
            background-repeat:no-repeat;
            background-color:white;
            background-position:center top;
        }
        a {
            text-decoration:none;
            color:gray;
        }
    </style>
</head>

<body>
    <p align="center" style="font-size:30px"><b>Miller Time</b></p>

    {% comment %} navbar {% endcomment %}
    <p align="center">
    <table border="0">
        <tr>
            <td><a href="/">home </a></td> 
            <td><a href="/blog/">blog </a></td>
            <td><a href="/links/">links </a></td>
            <td><a href="/aboutme/">aboutme</a></td>
        </tr>
    </table>

    {% comment %} body {% endcomment %}
    <table align="center">
    <tr align="center">
        <td>
            <b>Christmas List 2010</b>
        </td>
    </tr>
    <tr><td>
        <ul>
             <li>
            <a href="http://bit.ly/aoiLYI">Scott Pilgrim vs. The World</a><br />
            Best movie ever. $25<br />
            <img src="/media/scott-pilgrim.jpg" />
            </li>

            <li>
            <a href="http://www.benchmade.com/products/14440">Benchmade Pocket Knife</a><br />
            For cuttin' stuff. $40<br />
            <img src="/media/benchmade.jpg" />
            </li>

            <li>
            <a href="http://www.gamestop.com/Catalog/ProductDetails.aspx?product_id=41931">Final Fantasy XII</a><br />
            Never got that one, it's on PS2. $12 [Used]<br />
            <img src="/media/ff12.jpg" />
            </li>

            <li>
            <a href="http://www.gamestop.com/Catalog/ProductDetails.aspx?product_id=75085">Final Fantasy XIII</a><br />
            Latest installment of great series, for Xbox360. $33 [Used]<br />
            <img src="/media/ff13.jpg" />
            </li>

            <li>
            <a href="http://www.daskeyboard.com/model-s-professional/">Das Keyboard</a><br />
            An excellent keyboard for a programmer. $129<br />
            <img src="/media/das_keyboard.jpg" />
            </li>

            <li>
            <a href="http://www.astrogaming.com/products/detail/4/A40-Headset/">Astro A40 Gaming Headphones</a><br />
            Over-the-top awesome gaming headset. $200<br />
            <img src="/media/a40-astro-headset.jpg" />
            </li>
        <ul>
    </td></tr>
    </table>
</body>
</html>
